@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #453C67;
    background-image: url(./images.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    
    font-family: 'Labrada', serif;
}

.titulo{
    text-align: center;
    color: #F2F7A1;
    width: auto;
    height: 50px;
    background-color: #6D67E4;
    
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: none;
}


.tarjetas{
    display: flex;
    gap: 50px;
}

.tarjeta-de-genio {
    width: 100px;
    height: 120px;
    color: #F2F7A1;
    text-align: center;
    background: #6D67E4;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #F2F7A1;
    border-radius: 20px;
}

#genio{
    margin-top: 30px;
    margin-bottom: 40px;
    color: #F2F7A1;
}

input{
    margin: 10px;
}

#boton-mascota{
    margin-top: 25px;
    padding: 15px;
    width: 200px;
    font-family: sans-serif;
    color: #F2F7A1;
    font-family: 'Labrada', serif;
    background-color: #6D67E4;
    border: 3px solid #F2F7A1;
    border-radius: 15px;
    font-family: 'Labrada', serif;
}

.tarjeta-de-genio:hover{
    transform: scale(1.6);
    pointer-events: painted;
}
