@import url('https://fonts.googleapis.com/css2?family=Labrada:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #453C67;
    background-image: url(./images.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    
    font-family: 'Labrada', serif;
}

.titulo{
    text-align: center;
    color: #F2F7A1;
    width: auto;
    height: 50px;
    background-color: #6D67E4;
    
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    display: none;
    margin: 10px;
}

input:checked + label{
    background-color: black;
}

.tarjetas{
    display: flex;
    gap: 50px;
}

.tarjeta-de-genio {
    width: 100px;
    height: 120px;
    color: #F2F7A1;
    text-align: center;
    background: #6D67E4;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #F2F7A1;
    border-radius: 20px;
}

.genio{
    margin-top: 30px;
    margin-bottom: 40px;
    color: #F2F7A1;
    font-size: 32px;
    background-color: #6D67E4;
    border-radius: 15px;
    border: 5px solid black;
    padding: 10px;
    padding-bottom: 15px;
    text-align: center;
}

.genio2{
    margin-top: 30px;
    margin-bottom: 40px;
    width: 400px;
    color: #F2F7A1;
    font-size: 32px;
    background-color: #6D67E4;
    border-radius: 15px;
    border: 5px solid black;
    padding: 10px;
    padding-bottom: 15px;
    text-align: center;
}

#boton-mascota{
    margin-top: 25px;
    padding: 15px;
    width: 200px;
    font-family: sans-serif;
    color: #F2F7A1;
    font-family: 'Labrada', serif;
    background-color: #6D67E4;
    border: 3px solid #F2F7A1;
    border-radius: 15px;
    font-family: 'Labrada', serif;
}

#boton-mascota:hover{
    background-color: crimson;
    transform: scale(1.75);
    border: 3px solid black;
    cursor: pointer;
}

.tarjeta-de-genio:hover{
    transform: scale(1.6);
    cursor: pointer;
}

#seleccionar-ataque{

    flex-direction: column;
    align-items: center;
}

.boton-de-ataque{
    background-color: #453C67;
    border-radius: 15px;
    border: 3px solid black;
    padding: 10px;
    color: #F2F7A1;
    font-size: 24px;
}

.boton-de-ataque:hover{
    transform: scale(1.50);
    cursor: pointer;
}

p{
    color: #F2F7A1;
}

#imgReglas{
    width: 300px;
    height: 300px;
    border-radius: 100px;
    border: 30px solid black;
}

#imgReglas:hover{
    transform: scale(1.5);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mensajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 280px;
    background: black;
    padding: 20px;
    margin-top: 20px;
    border: 10px solid #F2F7A1;
    border-radius: 20px;
    font-size: 24px;
}

#resultadoMensaje{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #6D67E4;
    border: 5px solid black;
    border-radius: 15px;
}

#boton-reiniciar{
    
    border: none;
    color: beige;
    background-color: black;
    font-family: 'Labrada', serif;
}

.cartas{
    display: grid;
    grid-template-columns: 100px 100px;
}

@media(max-width: 420px){
    .tarjetas{
        flex-direction: column;
    }
    .tarjeta-de-genio{
        width: 250px;
    }
    .genio{
        font-size: 16px;
    }
    .titulo{
        font-size: 20px;
        height: 35px;
    }
    .movil{
        display: flex;
        flex-direction: column;
    }
    .boton-de-ataque{
        margin: 10px;
    }
    #imgReglas:hover{
        transform: scale(1.2);
    }
}

.ataquesJugador, .ataquesEnemigo, .centrarMensajes{
    display: flex;
    flex-direction: column;
    align-items: center;
}


